@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Manchester United Official Website</h1>
    <p>Learn about <a href="This is my first website officially owneed by Mayowa">building Web apps with ASP.NET Core</a>.</p>
</div>
